<div class="cont">
  <div class="background">
    <div class="modal modal_login">
      <div class="box-logo">
        <img src="images/LOG-U.gif" alt="">
      </div>
      <div class="box-title">
        <h1>Alcanzá tu mejor forma de estudiar</h1>
      </div>
        <div class="box-content">
      <p class="text" >Por favor completá el formulario</p>
        <form class="formulario">
          <input class="form" type="text" name="correo"  placeholder="Correo ">

            <input class="form show-psw" type="password" name="contraseña"  placeholder="Contraseña">
            <a href="#"><span class="eye"></span></a>

            <input class="button" type="button" value="Ingresar">
            <br>
            <input class="button buttong" type="button" value="Ingresar con google">
            <br>
            <a href="#">Regístrate</a>
            <br>
            <a href="#"> Olvidaste tu Contraseña</a>
        </form>
      </div>
    </div>
  </div>
</div>
