<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script type="text/javascript" src='/javascripts/jquery-3.1.1.js'></script>
    <script type="text/javascript" src='/javascripts/formscript1.js'></script>
    <script type="text/javascript" src='/javascripts/auth.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/resetcss.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
