<<<<<<< HEAD
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/style.css" >
  <meta name="viewport" content="initial-scale=1">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
</head>
<body>
  <div class="cont">
    <div class="background">
      <div class="modal">
        <div class="box-logo">
          <img src="images/LOG-U.gif" alt="">
        </div>
        <div class="box-title">
          <h1>Alcanzá tu mejor forma de estudiar</h1>
        </div>
          <div class="box-content">
        <p class="text" >Por favor completá el formulario</p>
          <form class="formulario">
            <input class="form" type="text" name="correo"  placeholder="Correo ">
            <div class="psw-hide">
              <input class="form" type="PASSWORD" name="contraseña"  placeholder="Contraseña">
              <a href="#"><span class="eye"></span></a>
            </div>
          </form>
          <input class="button" type="button" value="Ingresar">
          <a href="#">Regístrate</a>
          <a href="#"> Olvidaste tu Contraseña</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
=======
>>>>>>> fac980c4b02d2ec6122bb714f45bead7cd56d52d
