<div class="header-container">
    <div class="cont-logo">
        <a class="logo" type="button">
            <em></em>
        </a>
    </div>
    <div >
        <input type="text" class="search" placeholder="Buscar...">
    </div>
    <a href='#' class="newFolder jsnewfolder"></a>
</div>
